<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.jpg</key>
	<string>picture 1</string>
	<key>2.jpg</key>
	<string>picture 2</string>
	<key>3.jpg</key>
	<string>picture 3</string>
	<key>4.jpg</key>
	<string>picture 4</string>
	<key>5.jpg</key>
	<string>picture 5</string>
	<key>6.jpg</key>
	<string>picture 6</string>
</dict>
</plist>
